<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p><%= @harvest.harvest_name %></p>
    <p>Sign up here: <%= link_to  'Harvester Sign Up', harvest_url(@harvest) %></p>

    <p><%= @message %></p>
    <p>- <%= @from_person.full_name %></p>
  </body>
</html>
