
<h2>Welcome to the League of Urban Canners Member Site</h2>

<p>If you are looking for our public site, you can find it here: <a href='http://leagueofurbancanners.org'>http://leagueofurbancanners.org</a>.</p>

<p>If you want to participate in scouting trees, harvesting fruit and enjoying the fruits of your labors, please login or sign up now.</p>


<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary' %>
<%= link_to "Login", new_user_session_path, :class=> 'btn btn-primary' %>
