<h1>League of Urban Canners</h1>

<p>Welcome to the League of Urban Canners member site.  Here you can find sites to coordinate and harvest, post harvests for sites that you coordinate, and sign up to join harvests or to do canning.  Once you've completed coordinating a harvest, you'll use the site to record your harvest and canning totals.</p>

<p>If you're new here, a good place to get started is browsing the <%= link_to 'site list', sites_path %> or <%= link_to 'map', map_sites_path %> or using the <%= link_to 'site chooser', site_chooser_person_path(@current_user.person) %> to find some sites that interest you.</p>

<p>For general information about LUrC, please visit our public site at http://leagueofurbancanners.org.  For questions about using the member site, please email rebeccanesson@gmail.com</p>
